<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed top</a>
        <li class="nav-item">
            <a class="navbar-text" aria-current="page" href="#">Home</a>
        </li>   
  </div>
</nav>