{% extends layout %}
{% block  content %}
<main class="container mt-3">
  {% include 'components/taskform.njk' %}
    <div>
        <form action="/tasks" method="post">
            <div class="input-group mb-3">
                <label for="task" class="visually-hidden">Task</label>
                <input
                    class="form-control"
                    type="text"
                    name="task"
                    id="task"
                    placeholder="Write a task..."
                    required>
                <button class="btn btn-primary" type="submit">Add task</button>
            </div>
        </form>
    </div>
    <div>
        <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between">
                {{task.task}}
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input
                        action="/tasks" method="post"
                            class="form-check-input"
                            type="checkbox"
                            value="{{task.completed}}"
                            name="task-{{task.id}}"
                            id="task-{{task.id}}"
                            {% if task.completed %}checked{% endif %}>
                        <label
                            class="form-check-label"
                            for="task-{{task.id}}">
                            Completed
                        </label>
                    </div>
                    <a
                        href="/tasks/{{task.id}}/delete"
                        class="btn btn-sm btn-danger">
                        Delete task
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
<script src="/js/complete.js"></script>
{% endblock %}
